body {
  margin: 0;
  padding: 0;
  background-color: #ede7ff;
}
body.complete {
  background-color: #bfa6ff;
}
.input {
  display: none;
  font-size: x-large;
}
.setup {
  display: block;
  min-width: 300px;
  min-height: 40px;
  margin: 8px 8px 32px;
}
#submit {
  min-width: 200px;
  min-height: 40px;
  margin-top: 16px;
  font-size: large;
}